.page-container{
  min-height: 100vh;
  width: 100%;
  padding: 1rem 0rem 5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #0a0f2c, #0f1d3b, #112b4a);
  color: white;
}

.title{
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}
.logo-box {
  width: 100%;
  margin-bottom: 2rem;
}

.logo-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0,0,30,0.4);
}


.input-box {
  width: 90%;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 18px rgba(255,255,255,0.08);
}

.input-box::placeholder {
  color: #cccccc;
}

.convert-btn {
  width: 90%;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 1rem;
  background: linear-gradient(to right, #8b5cf6, #3b82f6);
  color: white;
  box-shadow: 0 0 30px rgba(70, 80, 255, 0.5);
  border: none;
  cursor: pointer;
}

.convert-btn:hover {
  opacity: 0.9;
}

/* فضای پایین برای جلوگیری از رفتن زیر منو */
.spacer-bottom {
  height: 80px;
}
